polkit.addRule(function(action, subject) {
    if (action.id === "com.example.different-id.write" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
